@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

.navbar-brand {
    font-family: 'East Sea Dokdo', cursive;
}

body {
    font-family: 'Yeon Sung', cursive;
}

/* Custom CSS styles */
.posting {
    max-width: 800px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group select {
    width: 100%;
    padding: 5px;
}

.form-group textarea {
    width: 100%;
    height: 200px;
    padding: 5px;
}